<main class="container-fluid">
    <div class="mx-5 mt-4 h-100 topPage">
        <div class="row h-100">
            <div class="col">
                <div class="row">
                    <div>

                        <!-- <app-carousel></app-carousel> -->
                        <img src="https://img.freepik.com/photos-gratuite/pizza-fraichement-italienne-tranche-fromage-mozzarella-ia-generative_188544-12347.jpg" class="d-block w-100" alt="...">


                    </div>
                </div>
                <div class="row">
                    <h3 class="mt-4">TITRE ACCROCHEUR</h3>
                    <p class="my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed non risus. Suspendisse lectus tortor, dignissim sit 
                        amet, adipiscing nec, ultricies sed, dolor. 
                        Cras elementum ultrices diam. Maecenas ligula massa, 
                        varius a, semper congue, euismod non, mi. </p>
                </div>
            </div>
            <div class="col col-sm h-100 text-center">
                <div class="row">
                    <ng-container *ngFor="let p of products">
                        <div [ngClass]="{'product' :productActif!=p,'productInfo' : productActif==p}">
                            <div  class="infoPlus"><a class="" (click)="afficherInfo(p)">
                              <i class="bi bi-file-plus-fill"></i>
                              <i *ngIf="productActif==p" class="bi bi-file-minus-fill"></i></a></div>
                            <img class="fill p-0" src="{{p.image}}" alt="product image" />
                            <div class="position-absolute bottom-0 start-0 mx-2">
                                <h6 style="font-size: 15px;">{{p.title}}</h6>
                                <p style="font-size: 15px;">{{p.price}} €</p>
                                <!-- <p>{{p.description}}</p> -->
                            </div>
                        </div>
                        <ng-container *ngIf="productActif==p">
                        <div class="infoProduct bg-light">
                        
                            <h6 class="productTitle mx-2 my-2">{{p.title}}</h6>
                            <span class="mx-2 ">{{p.price}} €</span>
                        
                            <div class="star-rating mx-2 my-1 ">
                              <div class="percent" [ngStyle]="{width:rating+'%'}"></div>
                            </div>
                         
                          <div class="d-flex flex-row container ingredient-container ">
                          <ng-container *ngFor="let i of ingredients">
                                <div class="ingredient">{{i.name}},</div>
            
                             </ng-container>
                            </div> 
                          <div class="d-flex flex-row container tags mx-2 mt-1">
                            <ng-container *ngFor="let c of categoriesProduct">
                              <img src="{{c.vignette}}" width="20%" height="20%" class="mx-1">
                             </ng-container>
                            
                          </div>
                           
                         
                          
                        </div>
                      </ng-container>
                    </ng-container>


                </div>
            </div>
    </div>
    </div>

    <div class="container bottomPage">
        <div class="row h-25">
            <div class="col">
                <div class="row h-100">
                    <div class="col-5 m-2 ">IMAGE</div>
                    <div class="col ">TEXT</div>
                </div>
            </div>
            <div class="col">
                <div class="row h-100">
                    <div class="col-5 m-2 ">IMAGE</div>
                    <div class="col">TEXT</div>
                </div>
            </div>
            <div class="col">
                <div class="row h-100">
                    <div class="col-5 m-2 ">IMAGE</div>
                    <div class="col ">TEXT</div>
                </div>
            </div>
        </div>
    </div>

</main>