.product{
    border:1px solid #F3B071 ;
    border-radius:15px;
    margin: 10px;
    position: relative;
    height: 200px;

}
.product img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #000;
}
.fill{
    object-fit: cover;
}
main .topPage{
    border:1px solid white;
    border-radius:15px;
}

main .text-center{
    border:1px solid white;
    border-radius:15px;
}
main .bottomPage .col{
    border:1px solid #F3B071;
    border-radius:15px;
    margin:2%;
}
.infoPlus{
    position:relative;
}
.infoPlus i{
    position:absolute;
    top:0;
    right:0;
    margin-top: 5%;
    font-size: 20px;
    color:#F3B071;

}