i{
  cursor: pointer;
}
.product{
    border-radius: 15px;
    flex: 1 0 calc(19% - 4px);
    margin: 5px;
    position: relative;
    height: 250px;
    width: 150px;
    color: white;
    filter: drop-shadow(0 10px 5px rgba(26, 25, 25, 0.521));
    margin-bottom: 10px;
    
   
    
}
.product img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;    
    border: 1px solid #000;
    object-fit: cover;
    border:1px solid white;
    
}
#bottomInfo{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  background-color: white;
}
.product h6, .product p{
    font-weight: bold;
    font-family: 'Oswald';
    letter-spacing: 1px;
    margin-left: 8px;
}
.product h6{
  color: #AE431E;
}

.product p{
  color: #8A8635;
  font-family: 'Dosis';
  letter-spacing: 1px;
}


.infoPlus,.delete,.edit,.fav,.buy{
    position:relative;
}
.infoPlus i{
    position:absolute;
    top:0;
    right:0;
    margin-top: 5%;
    margin-right: 5%;
    font-size: 20px;
    color:#ffffff;
}

.delete i{
  position: absolute;
  top: 0;
  right:0;
  margin-top: 5%;
  margin-right: 20%;
  font-size: 20px;
  
}

.edit i{
  position: absolute;
  top: 0;
  right:0;
  margin-top: 5%;
  margin-right: 35%;
  font-size: 20px;
  
}

.fav i{
  position: absolute;
  bottom: 0;
  right:0;
  margin-top: 5%;
  margin-right: 5%;
  font-size: 20px;
  color:#AE431E;
}

.buy i{
  position: absolute;
  bottom: 0;
  right:0;
  margin-bottom: 5%;
  margin-right: 5%;
  font-size: 20px;
  color:#AE431E;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}



/*  */
.productInfo{
    border-radius:15px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 1 0 calc(23% - 4px);
    height: 250px;
    margin-bottom: 10px;
    color: white;
    filter: drop-shadow(0 10px 5px rgba(26, 25, 25, 0.521));
}
.productInfo img{
  height: 100%;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;    
  border: 1px solid #000;
  object-fit: cover;
  border:1px solid white;
}

.productInfo h6, .productInfo p{
  font-weight: bold;
  font-family: 'Oswald';
  letter-spacing: 1px;
  margin-left: 8px;
}
.productInfo h6,.productInfo p{
  font-family: 'Oswald';
}
.productInfo h6{
  color: #AE431E;
}

.productInfo p{
  color: #8A8635;
  font-family: 'Dosis';
  letter-spacing: 1px;
}

.productTitle{
    color:#c76000                                                                        
}

.infoProduct{
    border-bottom-right-radius:15px ;
    border-top-right-radius: 15px;
    margin-right: 5px; 
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    color: #000;
}

.infoProduct h6{
  font-family: 'Oswald';
  letter-spacing: 1px;
}

.infoProduct span{
  font-family: 'Dosis';
  letter-spacing: 1px;
}
.ingredient{
   flex: auto;
   font-family: 'Dosis';
   letter-spacing: 1px;
   font-weight: 500;
   padding: 0;
}

.ingredient-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

.star-rating{
    position:relative;
    color:#c76000;
    display: inline-block;
    font-size: 25pt;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
}
.star-rating:before{
    content: "\2606\2606\2606\2606\2606";
    position: absolute;
    left:0;
    z-index: 1;
}
.star-rating .percent{
    position: relative;
    float:left;
    z-index: 0;
    overflow: hidden;
}

.star-rating .percent:after{
    content: "\2605\2605\2605\2605\2605";
    color:#c76000;
}

#searchMenu,#filterMenu{
    width: 43.5%;
    margin-top: 0.8%;
    border-radius: 15px;
 
}

#filterMenu h6{
    color: #AE431E;
}
.rounded{
    border: 1px solid #8A8635;
}

#filterMenu label{
  color: #8A8635;
  font-size: 15px;
}

/**/

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #eed5a9;
  border-radius: 13px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #E9C891;
  border-radius: 5px;

}



/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 30px;
  width: 30px;
background-image: url("/assets/pizzaslider.jpeg");
  background-size: cover;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
  /*  rotate thumb  */
  transform: rotateZ(var(--thumb-rotate, 0deg));
}
/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 25px;
  width: 25px;
/*   background-color: #f50; */
background-image: url("/assets/pizzaslider.jpeg");
background-size: cover;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
  transform: rotateZ(var(--thumb-rotate, 0deg));
}

.range{
  flex: 1;
}
.sliderticks {
  display: flex;
  justify-content: space-between;
}

.sliderticks span {
  display: flex;
  justify-content: center;
  gap:20px;
  width: 2px;
  height: 5px;
  background: #8A8635;
  line-height: 30px;
  font-weight: bold;
  color: #8A8635;
}

/**/

input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 1px;
  
  height: 6px;
  background: #ccc;
}

#btnFiltre{
  padding:10px 20px 10px 20px;
  margin: 3px 0px 3px 3px;
  border-radius: 5px;
  background-color: transparent ;
  border: 1px solid  #8A8635;
  color: #8A8635;
  font-weight: bold;
  font-size: 12px;


}

#btnFiltre:hover{
  background-color: #AE431E;
  color: #fff;
  transform: translate(-5%,5%);
  box-shadow: 5px 5px 5px gray;
}



