
#panier{
    margin-left:200px;
  }
  
  #menu .active{
    border-radius:10px;
    background-color: #c76000;
    padding: 5px 10px 5px 10px;
   
  }
  .navbar-nav{
    position:relative;
    overflow:hidden;
  }
  #menu li a{
    border-radius:10px;
    color: #f7f7f7;
    font-family: "Oswald";
    font-size: 16px;
    letter-spacing: 1px;

  }
  #menu li a:hover{
    background-color: #c76000;
    padding: 5px 10px 5px 10px;
  }
  .navbar-toggler .navbar-toggler-icon{
      font-size: 25px;
      border-radius: 7px;
      background-color: rgb(255, 158, 32);
      
  }
  
  #sidebar{
    height: 100%;
    width: 50%;
    background-color: whitesmoke;
    color:black;
    top: 0;
    position:fixed;
    z-index: 5;
  }
  #sidebar:after{
    transition: all 0.5s ease-in-out;
  }
  .nav{
    position: fixed;
  }