<div class="container-fluid">
    <div class="container d-flex justify-content-center align-items-center h-100">
        <div class="login h-100 w-50">
        <div class="row text-center">
            <h4 class="mt-2">WELCOM BACK</h4>
            <h6 clas="mt-2"><span class="fw-bolder">Sign up</span> with your email adress and password</h6>
        </div>
        <div class="row border rounded mx-5 p-2">
                <div class="col-12">
                    <div class="form-group mt-4">
                        <label for="exampleInputEmail1">Nom d'utilisateur</label>
                        <input type="username" class="form-control" id="exampleInputUsername" aria-describedby="username" placeholder="Enter username">
                    </div>
                    <div class="form-group mt-4">
                        <label for="exampleInputEmail1">Mot de passe</label>
                        <input type="password" class="form-control" id="exampleInputPassword" aria-describedby="password" placeholder="Enter password">
                    </div>
                    <div class="row mt-2">
                        <small>Mot de passe oublié ?</small>
                    </div>
                    <div class="form-group mt-4" id="btnL">
                        <button type="submit" class="btn" id="btnLogin">Login</button>
                    </div>
                    <div class="divider d-flex align-items-center" id="divider">
                        <p class="text-center mx-2 mt-3 fw-bolder">OU</p>
                    </div>
                    <div class="form-group mt-4" id="btnG">
                        <button type="submit" class="btn" id="btnGoogle"><i class="bi bi-google"></i></button>
                    </div>
            

        </div>

        </div>
    </div>
</div>