@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.container-fluid{
    height: 500px;
    color: white;
}
#titre h4{
    font-family: 'Oswald';
    letter-spacing: 1px;
    font-size: 30px;
    color: #c76000;
}
#titre h6{
    font-family: 'Dosis';
    letter-spacing: 0.5px;
    font-weight:lighter ;
    color: white;
    margin-bottom: 15px;
}
#divider p{
    display: flex;
    
}

#divider:after,#divider:before{
    content: "";
    flex: 1;
    height: 2px;
    background-color: aliceblue;
    
}
/*---------Button LOGIN--------*/
#btnLogin{
    padding:10px 60px;
    background-color: transparent;
    margin: 0 auto;
    border: 1px solid #c76000;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative; 
    box-shadow: 0 2px 5px rgb(230, 122, 14)
}
#btnL{
    display: flex;
    justify-content:center;
    align-items: center;
}

#btnLogin span{
    z-index: 1;
    position: relative;
    color: white;
    font-weight: bolder;
    font-family: 'Oswald';
    letter-spacing: 1px;
    font-size: 18px;

}

#btnLogin:after{
    content: "";
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background-color: #c76000;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform:translateX(-98%) translateY(-20%) rotate(45deg);
    transform: translateX(-98%) translateY(-20%) rotate(45deg);
}
#btnLogin:hover:after{
    -webkit-transform: translateX(-9%) translateY(-20%) rotate(45deg);
    transform: translateX(-9%) translateY(-20%) rotate(45deg);
    
}
    
.buttons button i{
    color: white;
    font-size: 20px;

}
/*------Button Google--------*/

#btnGoogle i:hover{
    color: #ff820d;
    transition: all 0.5s ease-in-out;
}

/*------Button FB-------*/
#btnFacebook i:hover{
    color: rgb(49, 49, 146);
    transition: all 0.5s ease-in-out;
}


/*------Button Twitter------*/
#btnTwitter i:hover{
    color: aqua;
    transition: all 0.5s ease-in-out;
}



.col .form-check-label, .col small{
    font-family: 'Dosis';
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight:lighter ;
    color: white;
    margin-bottom: 15px;
}
#username,#password{
    font-family: 'Dosis';
    font-size: 16px;
}
#label{
    font-family: 'Oswald';
    letter-spacing: 0.7px;
    font-size: 16px;
}
.mdpForgot{
    text-decoration-line: underline;
}


#sideImage img{
    background-size: cover;
    padding: 0;
    border-radius: 15px;
}


.register span{
    color: yellowgreen;
    cursor: pointer;
    text-decoration: underline;
}
#l{
    position: absolute;
}

#info{
    font-family: 'Dosis';
    font-size: 15px;
}